

	<nav class="top no_sticky" data-no-scroll="1">

		<a href="" class="logo">SkedPad</a>
			<ul>

          <li><a href="#" >Why Sked?</a></li>
          <li><a href="#">Pricing For Business</a></li>
           <li><a href="#">Free For Users</a></li>
          <li class="mobile_btn mobile_menu_btn">
            <a href="#" class="btn_sticky">Menu</a>
          </li>
			  </ul>
			</nav>


<nav class="mobile_menu menu_scroll" aria-hidden="true">
	<div class="mobile_menu_wrapper">
	<div class="mobile_menu_header">
			<a href="https://slack.com/" class="logo" data-clog-event="WEBSITE_CLICK" data-clog-params="click_target=nav_logo"></a>
			<a href="https://slack.com/#" class="close" aria-label="close" data-clog-event="WEBSITE_CLICK" data-clog-params="click_target=nav_menu_close"><ts-icon class="ts_icon ts_icon_times"></ts-icon></a>
	</div>
					<ul>
				<li><a href="https://slack.com/is" data-clog-event="WEBSITE_CLICK" data-clog-params="click_target=nav_product">Product</a></li>
				<li><a href="https://slack.com/pricing?ui_step=55&amp;ui_element=5" class="mobile_nav_pricing" data-clog-event="WEBSITE_CLICK" data-clog-params="click_target=nav_pricing">Pricing</a></li>				<li><a href="https://get.slack.help/hc/en-us" data-clog-event="WEBSITE_CLICK" data-clog-params="click_target=nav_support">Support</a></li>
				<li><a href="https://slack.com/get" data-clog-event="WEBSITE_CLICK" data-clog-params="click_target=nav_download">Download <span class="optional_desktop_nav_message">the Slack app</span></a></li>
			</ul>

			<ul class="mobile_menu_footer">

									<li><a href="https://slack.com/signin" data-gtm-click="optout_nav_signin" target="_blank" data-clog-event="WEBSITE_CLICK" data-clog-params="click_target=nav_sign_in"><ts-icon class="ts_icon small float_none team_icon ts_icon_plus default signup_icon"></ts-icon> <span class="switcher_label">Sign in</span></a></li>

									<li><a data-gtm-click="SignUp,optout_nav_create_team" href="https://slack.com/create" class="cta_track" target="_blank" data-clog-event="WEBSITE_CLICK" data-clog-params="click_target=nav_create_team"><ts-icon class="ts_icon small float_none team_icon ts_icon_slack_pillow default signup_icon"></ts-icon> <span class="switcher_label">Create a new team</span></a></li>							</ul>
			</div>
</nav>




<div class="outer-wrapper">
	<div id="where_work_happens" class="section  animate_svg ">
				<div id="where_work_happens_svg_wrapper"></div>
		<div class="content">
			<div class="wrapper">
				<h1 data-shadow-text="Where work" data-shadow-text-mobile="Where work happens" class="headline">
					Where <br class="mobile-only"> appointments<sup class="asterisk">*</sup><br>happens.				</h1>

				<div class="cta_wrapper">
					<p class="subhead">
					<span id="where_work_happens_illo_mobile"></span>
				</p>


<div class="cta">



				<form action="#" method="post" class="cta_form align_middle" novalidate="">
			<input type="hidden" name="done" value="1">
		<input type="hidden" name="crumb" value="">
		<span class="cta_input_email_wrapper">
		<input name="email" type="email" spellcheck="false" id="inline_input" placeholder="Email address" class="input_email input_inline small_right_margin" data-email-healing="true" aria-label="Enter your email address">
		</span>
		<button type="submit" class="btn align_top" data-gtm-click="SignUp" data-qa="create_new_team" data-clog-event="WEBSITE_CLICK" data-clog-params="click_target=cta_create_new_team">Get Started</button>
			</form>

			<span class="cta_footer">
							Already joined a our team?
              <a href="#" >Sign in</a></span>
	</div>									</div>
			</div>
		</div>
	</div>




</div>


{{outlet}}